spring.application.name=speedpark-api

spring.datasource.url=jdbc:sqlserver://localhost:1433;databaseName=KartManager;encrypt=true;trustServerCertificate=true;
spring.datasource.driver-class-name=com.microsoft.sqlserver.jdbc.SQLServerDriver
spring.datasource.username=sa
spring.datasource.password=SUA_SENHA_AQUI
spring.jpa.database-platform=org.hibernate.dialect.SQLServerDialect

spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false

spring.servlet.encoding.charset=UTF-8
spring.servlet.encoding.force=true
